boto==2.48.0 #no-deploy
boto3==1.4.4 #no-deploy
botocore==1.5.90 #no-deploy
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
docutils==0.13.1 #no-deploy
Flask==0.12.2
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3 #no-deploy
MarkupSafe==1.0
python-dateutil==2.6.1 #no-deploy
requests==2.18.2
s3transfer==0.1.10 #no-deploy
six==1.10.0 #no-deploy
urllib3==1.22
Werkzeug==0.12.2
